<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.sustainabilityandwellness" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SustainabilityAndWellness" >
        <receiver
            android:name=".oxygen"
            android:enabled="true"
            android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="oxygen_info" />
        </receiver>
        <receiver android:name=".stress"
                  android:enabled="true"
                  android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="stress_info" />
        </receiver>
        <receiver android:name=".respiration1"
                  android:enabled="true"
                  android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="respiration1_info" />
        </receiver>
        <receiver android:name=".glucose"
                  android:enabled="true"
                  android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="glucose_info" />
        </receiver>
        <receiver android:name=".secondsreen"
                  android:enabled="true"
                  android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="secondsreen_info" />
        </receiver>
        <receiver android:name=".firstscreen"
                  android:enabled="true"
                  android:exported="true"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="firstscreen_info" />
        </receiver>

        <activity android:name=".Main" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>